.App{
    text-align: center;
}
#mynav{
    text-align: center;
    background-color: lightgreen;
    padding: 15px;
    margin: 0px;
}
.mylink {
    color:white;
    margin-left: 20px;
    text-decoration: none;

}
.mylink:hover{
    color:red;
}
.mylink:active{
    color:yellow;
}